<h2 mat-dialog-title>Load saved view</h2>
<div *ngIf="errorMessage"><span style="color: darkred">{{ errorMessage }}</span></div>
<mat-dialog-content>
  <div *ngIf="userViews.length === 0">No saved views</div>
  <mat-list *ngIf="userViews.length > 0">
<!--    <mat-list-item *ngFor="let view of userViews" class="view-item">-->
<!--      <div class="view-name">-->
<!--        <strong>{{ view.viewName }}</strong>-->
<!--      </div>-->
<!--      <button mat-button color="primary" (click)="loadView(view)">Load</button>-->
<!--      <button mat-button color="accent" (click)="editView(view)">Edit</button>-->
<!--      <button mat-button color="warn" (click)="deleteView(view.id!)">Delete</button>-->
<!--    </mat-list-item>-->
    <mat-list-item *ngFor="let view of userViews" class="view-item">
      <div class="view-item-content">
        <div class="view-name">
          <strong>{{ view.viewName }}</strong>
        </div>
        <div class="buttons">
          <button mat-button color="primary" (click)="loadView(view)">Load</button>
          <button mat-button color="accent" (click)="editView(view)">Edit</button>
          <button mat-button color="warn" (click)="deleteView(view.id!)">Delete</button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Close</button>
</mat-dialog-actions>
