.rest-app {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  padding: 16px;
  box-sizing: border-box;

  &__data-container {
    width: 40%;
    &__search {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__grid {
      .weather-card {
        max-width: 500px;
        padding: 8px
      }
    }
  }

  &__result-container {
    width: 60%;
    &__table {

    }
  }
}
